ul.article
  list-style-type: none
  padding: 0
  li
    padding-bottom: 20px
    margin-bottom: 20px
    border-bottom: 2px dashed #333
    height: auto !important
    &:last-child
      border: none
    .content
      border-top: none
      position: relative

figure
  display: block
  max-width: 1080px
  width: 100% !important
  margin: 0 auto
  text-align: center

figcaption
  margin-bottom: 10px

.section figure img
  width: 100% !important

figure img
  width: auto !important
  max-width: 100%
  height: auto !important

.thumbnail, .entry-content
  display: block
  margin: 0 auto
  box-sizing: border-box
  vertical-align: top

.thumbnail
  img
    max-width: 100%
    height: auto
    display: block
    margin: 0 auto
  max-width: 85%
  width: auto
  margin: 0 auto
  position: relative

.entry-content
  height: auto
  width: 100%
  padding: 0px 5px
  p
    text-align: center

.meta
  text-align: center
  margin-left: 14px
  div
    margin: 0 auto
    height: 100%
    margin: 0
    color: white
    box-sizing: border-box
    color: #666
    text-align: center
    vertical-align: top
    font-size: 3vmin
    &:last-child
      border-right: none
    p
      margin: 10px 0
    &.postDate
      line-height: 1
      vertical-align: middle
      span
        line-height: 1
        display: block

a
  text-decoration: none

.meta div
  &.category, &.postDate, &.author
    display: inline-block
    width: calc(33% - 30px)
    max-width: 180px
    margin-right: 30px
    vertical-align: top
  &:last-child
    margin-right: 0px
  &.postDate span.day
    font-size: 1.5em
    margin: 10px 0

@media all and (max-width: 650px)
  .meta div
    display: block !important
    margin: 10px auto !important
    width: 180px !important