.recent-work .item img.pic, .portfolio .item img.pic, .gallery .item img.pic, .img-caption, .slidecontrols li a, .more, .latest-blog .item img.pic, #footer.thumbs li img, #sidebar.thumbs li img
  border-radius: 2px

.subscribe input
  &.mail, &.submit
    border-radius: 2px

#toTop
  border-radius: 2px

.accordion
  h4, p
    border-radius: 2px
  &.style2
    .icon-plus, .icon-minus
      border-radius: 2px

.meter
  border-radius: 2px
  .meter-content
    border-radius: 2px

.button, #horizontal-tabs .contents, #vertical-tabs .contents, #horizontal-tabs.style2 ul.tabs li, #vertical-tabs.style2 ul.tabs li
  border-radius: 2px

#toggle-view
  li h4, .panel
    border-radius: 2px

.info-box, .pagination a, .breadcrumbs
  border-radius: 2px

.form-elements
  input[type="text"], select, textarea
    border-radius: 2px

.qoute, .welcome, .testimonial-item p, .member-social a, .team .item img
  border-radius: 2px

.tables-column
  border-radius: 2px
  .footer h4 a
    border-radius: 2px

#options li a, .portfolio-control a, .flex-container .slides li img, .share-social a, .project-full img, .image-post img, .post-meta .meta, .widget .text-search, .popular-tags a, img.pic-2, #footer.thumbs li img
  border-radius: 2px

.widget .followers
  border-radius: 2px
  li a
    border-radius: 2px

.blog-3 .item, .post-tags, .about-author .content, .related-posts .item img, .comments .comment-box.author
  border-radius: 2px

.form-box
  input.text, textarea
    border-radius: 2px

body.under-construction .content input
  &.subscribe-text, &.subscribe-button
    border-radius: 2px

.notification_error, .notification_ok
  border-radius: 2px

.tables-column .header h3, .blog-3 .item .image-post img
  border-radius: 2px 2px 0 0

.flex-direction-nav li a.flex-prev, blockquote
  border-radius: 0 2px 2px 0

.flex-direction-nav li a.flex-next
  border-radius: 2px 0 0 2px

img.pic-2
  margin: 0 13px 5px 0

table#opening_times_table td
  border: 1px solid #ddd
  padding: 5px

.more
  width: 29px
  height: 29px
  display: block
  font-weight: 700

.social a
  display: inline-block
  margin: 0 0 0 18px

footer .social .social-icon.white
  margin: 0 !important

header .social
  .social-icon.white
    margin: 0 !important
  margin-top: 1px

footer .social
  margin-top: 2px

.top-bar
  min-height: 30px
  padding: 10px 0

.phone-mail
  padding: 3px 0
  a
    margin-right: 20px
  i
    margin-right: 7px
header
  &.style-2
    .top-bar
      min-height: 4px
      padding: 0
    .down-button
      display: none !important
  .search form
    margin: 30px 0
  &.style-3.style-5
    .navigation > #nav
      display: inline-block
      float: none
      margin-bottom: -4px
    .down-header
      min-height: 66px
  &.fixed .sticky-wrapper.is-sticky
    .main-header, .down-header
      position: relative
      z-index: 1000
      width: 100%
      -moz-box-shadow: 0 0 3px #000
      -webkit-box-shadow: 0 0 3px #000
      box-shadow: 0 0 3px #000

#nav
  margin-top: -4px

header.style-3 #nav
  margin-top: -1px

#menu > a, i.icon-angle-down.responsive
  display: none

.down-button
  text-align: center
  display: none

.slider-1, .slider-2
  overflow: hidden

.slider-1
  .slides li .contain, .loading
    position: relative
    min-height: 478px

.slider-2
  .slides li .contain, .loading
    position: relative
    min-height: 478px

.slider-1 .slides li
  h2, p, .links
    max-width: 480px
    min-width: 480px
  h2, p, .links, .item
    position: absolute
  h2
    left: 0
    top: -100%
    opacity: 0
    z-index: 50
  p
    left: 0
    bottom: -50%
    opacity: 0
    z-index: 50
  .links
    left: 0
    bottom: -100%
    opacity: 0
    z-index: 50
  .item
    right: -100%
    opacity: 0
    z-index: 10
  p
    line-height: 30px

.slider-2 .slides li p
  line-height: 30px

.slider-1 .loading, .slider-2 .loading
  background: #474747 url(../images/icons/loading.gif) no-repeat center center

.slider-1 .button.medium, .slider-2 .button.medium
  padding: 17px 30px
  margin-right: 12px

.slider-1 .slides li .item .video-wrap
  min-width: 425px
  min-height: 244px

.slider-2 .slides li
  h2, p, .links
    position: absolute
    width: 70%
    padding: 0 15%
  h2
    bottom: -20%
    opacity: 0
  p
    bottom: -50%
    opacity: 0
  .links
    bottom: -60%
    opacity: 0
  h2 span
    padding: 10px 20px
    background: rgba(0, 0, 0, 0.5)
    line-height: 75px
    text-transform: uppercase
    letter-spacing: 2px

.slider-1 .slides li .links a:hover, .slider-2 .slides li .links a:hover
  background: rgba(0, 0, 0, 0.5)

.slider-1.iphone li img
  margin-top: 37px

.services.home
  padding: 55px 0

.one-page
  .home-bg, &.section, &.welcome
    padding: 55px 0
  &.section
    padding-bottom: 0

.services
  &.home.s-2
    padding: 75px 0 35px
  &.style-1 .item
    margin-bottom: 10px
    h3
      margin-bottom: 12px
    .circle
      width: 130px
      height: 50px
      border-radius: 50%
      margin: 0 auto
      padding: 40px 0
      margin-bottom: 30px
      a
        display: block
    p
      padding: 0 5px
  &.style-2
    .item
      overflow: hidden
    .circle
      width: 50px
      height: 22px
      border-radius: 50%
      padding: 14px 0
      margin-right: 10px
      margin-top: 7px
    .data
      width: 78%
  &.style-3
    .item
      overflow: hidden
    .circle
      width: 105px
      height: 51px
      border-radius: 50%
      padding: 27px 0
      margin-right: 10px
    .data
      width: 73%

.recent-work .item
  position: relative
  overflow: hidden
  max-height: 240px
  margin-bottom: 20px

.portfolio .item, .gallery .item
  position: relative
  overflow: hidden
  margin-bottom: 20px

.img-caption
  position: absolute
  top: 100%
  width: 100%
  height: 100%

.portfolio .item img, .gallery .item img, .recent-work .item img, .portfolio .item a, .recent-work .item a, .gallery .item a
  display: block

.img-caption .desc
  padding: 10%
  span
    text-align: center
    display: block
    font-weight: 700
    margin-top: 10%

.portfolio .item.element-4 .img-caption .desc
  span
    margin-top: 3%
  padding: 5%

.gallery .item.element-4 .img-caption .desc
  padding: 5%

.recent-work .item img, .portfolio .item img, .gallery .item img
  width: 100%
  height: auto

.latest-blog .item
  margin-bottom: 27px
  img.pic
    margin-bottom: 15px
    &:hover
      opacity: .7
      filter: alpha(opacity = 70)
  .meta
    margin-bottom: 13px

.featured-clients
  .item
    margin-bottom: 20px
  img:hover
    opacity: 1
    filter: alpha(opacity = 100)

footer
  margin-top: 40px

.footer-top
  padding: 40px 0

.footer-down
  padding: 22px 0

footer h3.title
  margin-bottom: 20px

.subscribe
  form
    margin-top: 22px
  input
    &.mail
      padding: 13px
      border: 0
      width: 53%
      margin-right: 2px
    &.submit
      padding: 12px 15px
      border: 0
      cursor: pointer

span
  &.copyright
    padding-top: 7px
    display: block
  &.reg_char_footer
    padding-top: 7px
    display: block
    text-align: right


.testimonials .testimonial-item
  margin-bottom: 20px

.testimonial-item p
  padding: 18px 20px 25px

.testimonials-arrow
  background: url(../images/icons/testimonials-arrow.png) no-repeat
  width: 26px
  height: 26px
  margin: 0 0 0 30px

.testimonial-item .author
  margin: -4px 0 0 77px

.team
  .item
    margin-bottom: 30px !important
    min-height: 397px
  &.columns-4 .item
    min-height: 360px
  .item
    img
      margin-bottom: 15px
      opacity: .7
      filter: alpha(opacity = 70)
      &:hover
        opacity: 1
        filter: alpha(opacity = 100)
    h4
      margin-right: 5px
    span
      font-style: italic
      margin-top: 10px
      display: inline-block
    p
      margin: 8px 0 18px

.member-social a
  margin: 0 6px 6px 0
  width: 34px
  height: 15px
  padding: 4px 0 12px
  i
    margin: 0 auto !important
    display: block !important

.page-404
  padding: 60px 0 120px
  min-height: 520px
  margin-bottom: -40px
  .oops
    margin-bottom: 38px
  .text
    margin-bottom: 30px
  .coffee
    position: relative
    width: 77px
    margin: 20px auto
  i
    &.icon-coffee
      position: absolute
      top: 31px
      z-index: 100
    &.icon-fire
      position: absolute
      left: 28px

.portfolio-control
  margin-top: 6px
  a
    padding: 4px 14px
    margin-left: 9px
    &.all
      padding: 6px 8px 2px

.share-social a
  margin: 0 6px 6px 0
  width: 38px
  height: 18px
  padding: 7px 0 12px
  span
    margin: 0 auto !important
    display: block !important

.project-full li
  margin-bottom: 20px

.post
  &.style-1, &.style-2
    padding-bottom: 32px
  &.style-1:last-child, &.style-2:last-child
    border-bottom: 0

.image-post
  margin: 5px 0 15px
  img:hover
    opacity: .7
    filter: alpha(opacity = 70)

.post-content p
  margin-bottom: 10px

.post-meta
  overflow: hidden
  .meta
    padding: 8px 12px
    min-height: 16px
    margin: 0 5px 5px 0
    display: inline-block
    i
      margin-right: 3px

.post.style-2 .image-post img, html.ie.ie8 .post.style-2 .image-post
  max-width: 260px
  min-height: 187px
  margin-right: 20px

.post.single
  border-bottom: 0 !important

.sidebar
  .widget
    margin-bottom: 30px
  .search form
    position: relative

header .search form
  position: relative

.sidebar .widget .text-search, header .widget .text-search
  padding: 13px 36px 13px 13px
  border: 0
  width: 82%

.widget
  .submit-search
    background: url(../images/icons/search-icon.png) no-repeat
    position: absolute
    top: 15px
    right: 14px
    border: 0
    cursor: pointer
    width: 18px
    height: 18px
  &.categories ul li
    padding: 5px 5px 10px 18px
    margin-bottom: 7px
    &:last-child
      border-bottom: 0
      margin-bottom: 0

.popular-tags a
  padding: 12px 10px
  display: inline-block
  margin: 0 6px 6px 0

.widget
  #horizontal-tabs ul.tabs li
    padding: 16px 14px
  &.most-posts ul.posts li
    margin-bottom: 22px
    overflow: hidden

footer .widget.most-posts ul.posts li
  margin-bottom: 12px

.widget
  &.most-posts ul.posts li
    &:last-child
      margin-bottom: 0
    img:hover
      opacity: .8
      filter: alpha(opacity = 80)
    p
      margin-bottom: 5px
    img
      width: 68px
      height: 68px
  .followers
    padding: 10px
    li
      display: inline-block
      text-align: center
      margin: 10px 4px
      a
        display: inline-block
        margin: 0 6px 6px 0
        width: 38px
        height: 18px
        padding: 7px 0 12px
        i
          margin: 0
      h4
        margin-bottom: 0

.blog-3
  .item
    margin-bottom: 20px
    .contain .data
      padding: 8px
    .image-post
      margin-top: 0
      margin-bottom: 3px
    .post-meta
      margin-bottom: 13px
    .post-content
      padding-top: 12px
    .post-meta .meta
      padding: 5px 10px 0 0
      margin: 3px 2px 3px 0
      background: none !important
  #options
    margin-bottom: 15px

.one-page #options
  margin-bottom: 15px

.blog-3 #options #filters li, .one-page #options #filters li
  float: none
  display: inline-block
  margin: 2px 4px 2px 0

.blog-3 .pagination-contain .pagination
  display: inline-block

.post-tags
  padding: 13px 15px
  line-height: 22px

.next-prev-posts
  overflow: hidden

.about-author
  .content
    padding: 20px
    overflow: hidden
    margin-top: 20px
  .avatar img
    width: 80px
    height: 80px
    border-radius: 50%

html.ie.ie8 .about-author .avatar img
  width: inherit

.about-author .content .data
  margin-left: 105px
  h5
    margin-bottom: 10px

.related-posts
  overflow: hidden
  .item
    width: 200px
    margin-right: 13px
    margin-bottom: 13px
    img
      margin-bottom: 10px
      width: 200px
      height: 128px
      &:hover
        opacity: .7
        filter: alpha(opacity = 70)
    .meta
      margin-top: 5px

.comments .comment-box
  margin-bottom: 20px
  .avatar
    margin-top: 5px
    img
      width: 60px
      height: 60px
      border-radius: 50%

html.ie.ie8 .comments .comment-box .avatar img
  width: inherit

.comments
  .comment-box
    .comment
      margin-left: 80px
      padding-bottom: 20px
      h5
        margin-bottom: 5px
      .date-replay
        margin-bottom: 17px
    .children
      margin-top: 20px
      margin-left: 80px
    &.author
      padding: 15px 10px 10px
      .comment
        padding-bottom: 10px
        border-bottom: 0
  > .comment-box:last-child > .comment
    border-bottom: 0

.form-box
  width: 200px
  margin: 0 20px 15px 0
  &.last
    margin-right: 0
  &.big
    width: 100%
  label
    padding: 5px 0
    margin-bottom: 8px
    display: block
  input.text
    padding: 12px 10px
    width: 89%
    display: block
    border: 0
  textarea
    width: 96.6%
    padding: 12px 10px
    min-height: 180px
    display: block
    border: 0

#map
  display: block
  width: 100%
  height: 350px
  margin: 0 auto
  margin-top: -40px
  img
    max-width: inherit !important

.address-info li, .phone-info li, .email-info li
  padding: 5px 5px 5px 18px
  line-height: 25px
  position: relative

.phone-info li
  padding-left: 22px

.email-info li
  padding-left: 26px

.address-info li:before
  content: '\f041'
  font-family: FontAwesome
  font-style: normal
  font-weight: 400
  text-decoration: inherit
  font-size: 20px
  position: absolute
  top: 5px
  left: 0

.phone-info li:before
  content: '\f095'
  font-family: FontAwesome
  font-style: normal
  font-weight: 400
  text-decoration: inherit
  font-size: 17px
  position: absolute
  top: 5px
  left: 0

.email-info li:before
  content: '\f0e0'
  font-family: FontAwesome
  font-style: normal
  font-weight: 400
  text-decoration: inherit
  font-size: 17px
  position: absolute
  top: 5px
  left: 0

body.under-construction
  .content h2.title, header .logo img
    opacity: 0
  .content
    p.text, #clock-ticker
      opacity: 0
  header .logo
    img
      display: block
    margin: 17.5px 0
  .content
    background: url(../images/img/under_construction.jpg) no-repeat
    width: 100%
    height: 455px
    padding: 100px 0
    image-rendering: optimizeQuality
    background-size: cover
    background-position: 50% 0
    h2.title
      margin-bottom: 20px
      margin-top: -40px
    p.text
      line-height: 40px
    .block
      display: inline-block
      width: 130px
      height: 62px
      padding: 34px 0
      border-radius: 50%
      margin: 0 10px
      .flip-top
        display: block
        margin-bottom: 3px
    .subscribe
      position: relative
      z-index: 100
    input
      &.subscribe-text, &.subscribe-button
        border: 0
      &.subscribe-text
        width: 50%
        margin-right: 15px
        margin-left: 13px
        padding: 14px 15px
      &.subscribe-button
        cursor: pointer
        padding: 12px 20px 14px
  footer
    margin: 0
    padding: 30px 0 40px
    span
      &.copyright, &.reg_char_footer
        margin-bottom: 15px
    .social
      float: none

.one-page
  p.description
    line-height: 30px
  #options #filters li
    float: none
    display: inline-block
    margin: 2px 4px 2px 0
  #testimonials .slidecontrols li a
    &.carousel1-prev, &.carousel1-next
      bottom: 8px
      top: inherit
  &.section
    .pic
      display: block
    h2
      margin-top: 90px

.download-now
  padding: 20px 0

@media only screen and (max-width: 959px)
  .main-header .two-thirds.column
    float: right
  #menu
    top: auto
    left: auto
    position: relative
    > a
      width: 40px
      height: 40px
      position: relative
      float: right
      margin-top: 33px
      font-size: 0
  header.style-3 #menu > a
    float: none
    margin: 10px auto
  #menu
    > a
      &:before
        position: absolute
        top: 35%
        left: 25%
        right: 25%
        content: ""
      &:after
        position: absolute
        top: 35%
        left: 25%
        right: 25%
        content: ""
        top: 60%
    &:not(:target) > a:first-of-type, &:target > a:last-of-type
      display: block
  i.icon-angle-down.responsive
    display: inline-block
    float: right
  img.rightarrowclass
    display: none
  #menu > ul
    height: auto
    display: none
    position: absolute
    right: 0
    top: 83px
    min-width: 65%
    z-index: 999
  header.style-3 #menu > ul
    right: 15%
    top: 51px
  #menu
    > ul > li
      width: 100%
      >
        a
          height: auto
          text-align: left
          display: block
          padding: 13px 10px
        ul > li >
          a
            height: auto
            text-align: left
            display: block
            padding: 13px 10px
          ul > li >
            a, ul > li > a
              height: auto
              text-align: left
              display: block
              padding: 13px 10px
      &:not(:last-child) > a
        border-right: 0
    li ul
      position: static
      padding: 0 15px
      width: 87% !important
      li ul
        position: static
        padding: 0 15px
        width: 87% !important
        li ul
          position: static
          padding: 0 15px
          width: 87% !important
  header.style-3 #menu li ul
    width: 93% !important
  #menu li ul li ul
    width: 93% !important
    li ul
      width: 93% !important
  .button
    &.small
      padding: 12px 18px
    padding: 15px 24px
    &.medium
      padding: 15px 24px
    &.large
      padding: 17px 25px
  .flex-direction-nav li a
    top: 38%
    padding: 8px 7px
  .post.style-2 .image-post img
    max-width: 100%
    min-height: auto
    margin-right: 0
  .blog-3 #options #filters li, .one-page #options #filters li
    float: left
  .slider-1 .flex-direction-nav li a, .slider-2 .flex-direction-nav li a
    padding: 8px 9px
  header.style-3.style-5 .down-header
    min-height: 61px
  .one-page p.description
    font-size: 15px

@media only screen and (min-width: 768px) and (max-width: 959px)
  header, footer
    overflow: hidden
  span
    &.copyright, &.reg_char_footer
      font-size: 10px
  #footer.thumbs li
    width: 47%
    margin: 3px 6px 3px 0
    img
      width: 103px
      height: 90px
  .subscribe input
    &.mail
      width: 89%
      margin-right: 0
      margin-bottom: 10px
    &.submit
      width: 100%
  #vertical-tabs
    ul.tabs
      width: 100%
      li
        float: left
        width: 37%
        text-align: center
    &.style2 ul.tabs li
      margin-right: 3px
    .contents
      margin-left: 0
      width: 100%
    &.style2
      .contents
        margin-left: 0
        width: 100%
      ul.tabs li.current
        border: none !important
    ul.tabs
      border-top: none !important
  .form-elements textarea
    width: 94%
  .welcome
    font-size: 23px
    padding: 30px 5%
  .qoute
    h4
      font-size: 21px
    .button
      font-size: 14px
  .page-title h1
    font-size: 42px
  .team .item
    min-height: 236px
  .services
    &.style-2, &.style-3
      text-align: center
    &.style-2 .circle, &.style-3 .circle
      float: none
      margin: 0 auto
      margin-bottom: 15px
    &.style-2 .data, &.style-3 .data
      float: none
      width: 100%
  .tables-column .header h3
    font-size: 20px
  .portfolio .item.element-4 .img-caption .desc
    span
      margin-top: 1%
    h3
      font-size: 20px
      margin-bottom: 0
  .gallery .item.element-4 .img-caption .desc h3
    font-size: 20px
    margin-bottom: 0
  .portfolio .item.element-4 .img-caption .desc p, .gallery .item.element-4 .img-caption .desc p
    font-size: 13px
  .portfolio .item.element-3 .img-caption .desc, .recent-work .item .img-caption .desc, .gallery .item.element-3 .img-caption .desc
    padding: 5%
  .portfolio .item.element-3 .img-caption .desc h3, .recent-work .item .img-caption .desc h3, .gallery .item.element-3 .img-caption .desc h3
    font-size: 20px
    margin-bottom: 0
  .portfolio .item.element-3 .img-caption .desc p, .recent-work .item .img-caption .desc p, .gallery .item.element-3 .img-caption .desc p
    font-size: 13px
  .portfolio .item.element-3 .img-caption .desc span, .recent-work .item .img-caption .desc span, .gallery .item.element-3 .img-caption .desc span
    margin-top: 3%
  .sidebar .widget .text-search, header .widget .text-search
    width: 77%
  #sidebar.thumbs li
    width: 38.7%
  .widget .followers li
    margin: 10px 18px
  .post.style-2 .image-post
    float: none
  .related-posts .item
    width: 156px
    img
      width: 156px
      height: 110px
  .form-box
    input.text, textarea
      width: 95.8%
    width: 100%
    margin: 0 0 10px
  .slider-1
    .slides li
      .item
        max-width: 45%
      .contain
        min-height: 395px
    .loading
      min-height: 395px
    .slides li
      h2, p, .links
        max-width: 380px
        min-width: 380px
      h2
        font-size: 22px
        line-height: 32px
      p
        font-size: 16px
  .four.columns #footer.thumbs li
    width: 46%
  .slider-1 .slides li .item .video-wrap
    min-width: 357px
    min-height: 194px
  .slider-2
    .slides li
      h2, p, .links
        width: 80%
        padding: 0 10%
      .contain
        min-height: 447px
    .loading
      min-height: 447px
  .one-page h1.title, .welcome-text
    font-size: 38px

@media only screen and (max-width: 767px)
  .recent-work .item
    max-height: 336px
  #home_bottom_wrapper, #home_content_wrapper
    padding: 0 8px
  .rampworld_mainbody_content
    padding: 8px

@media only screen and (min-width: 480px) and (max-width: 767px)
  .main-header
    .one-third.column, .two-thirds.column
      width: auto
  header.style-3 .logo
    margin: 30px 0
    text-align: center
  #menu > ul
    width: 420px
    right: 0
    top: 81px
  header.style-3 #menu > ul
    width: 420px
    right: 0
    top: 51px
  #menu li ul
    width: 92.8% !important
    li ul
      width: 92.8% !important
      li ul
        width: 92.8% !important
  .phone-mail
    text-align: center
    margin-bottom: 7px
    margin-top: 5px
    a
      margin: 0 10px
  header .social
    float: none
    text-align: center
    margin-bottom: 11px
  .top-bar
    padding: 3px 0
    min-height: 0
    .slidedown
      display: none
  .down-button
    display: block
    width: 30px
    margin: 0 auto
    height: 22px
    opacity: .6
    filter: alpha(opacity = 60)
    &:hover
      opacity: 1
      filter: alpha(opacity = 100)
  #menu > a
    margin-top: 31px
  header.style-3 #menu > a
    margin-top: 10px
  footer
    .footer-top .widget
      margin-bottom: 25px
    h3.title
      margin-bottom: 10px
  #footer.thumbs li img
    width: 123px
    height: 84px
  .subscribe input.mail
    width: 62%
  .featured-clients img
    display: block
    margin: 0 auto
  span
    &.copyright, &.reg_char_footer
      text-align: center
      margin-bottom: 11px
      line-height: 24px
  footer .social
    text-align: center
    float: none
    a
      margin: 0 0 0 13px
  .services.style-1 .item
    margin-bottom: 35px
    .circle
      margin-bottom: 17px
    h3
      margin-bottom: 3px
  #vertical-tabs
    ul.tabs
      width: 100%
      li
        float: left
        width: 37%
        text-align: center
    &.style2 ul.tabs li
      margin-right: 3px
    .contents
      margin-left: 0
      width: 100%
    &.style2
      .contents
        margin-left: 0
        width: 100%
      ul.tabs li.current
        border: none !important
    ul.tabs
      border-top: none !important
  .welcome
    font-size: 23px
    padding: 30px 5%
    text-align: left
  .button
    &.small
      padding: 10px 16px
    padding: 12px 22px
    &.medium
      padding: 12px 22px
    &.large
      padding: 15px 22px
  .page-title h1
    font-size: 37px
  .services
    &.style-2 .data
      width: 83%
    &.style-3 .data
      width: 70%
  .page-404
    .oops
      font-size: 115px
    .text
      margin-bottom: 15px
      font-size: 28px
      line-height: 41px
    padding: 40px 0 150px
  .sidebar .widget .text-search, header .widget .text-search
    width: 88%
  #sidebar.thumbs li
    width: 30.9%
    img
      width: 126px
      height: 105px
  #footer.thumbs li img, .four.columns #footer.thumbs li img
    width: 126px
    height: 105px
  .widget .followers li
    margin: 10px 21px
  .related-posts .item
    width: 197px
    img
      width: 197px
      height: 125px
  .form-box
    input.text, textarea
      width: 94.8%
    width: 100%
    margin: 0 0 10px
  .comment-form input.button
    width: 100%
    padding: 13px 0
  body.under-construction .content
    p.text
      font-size: 29px
    height: 515px
    padding: 75px 0
    .block
      margin-bottom: 20px
    input
      &.subscribe-text
        width: 87%
        margin-left: 0
        margin-right: 0
        margin-bottom: 15px
      &.subscribe-button
        width: 94%
        margin-bottom: 35px
  .slider-1
    .slides li
      .item
        max-width: 45%
      .contain
        min-height: 220px
    .loading
      min-height: 220px
    .slides li
      h2, p, .links
        max-width: 280px
        min-width: 280px
      h2
        font-size: 22px
        line-height: 32px
      p, .links
        display: none
  header .search form
    margin: 0 0 30px
  .slider-1 .slides li .item .video-wrap
    min-width: 195px
    min-height: 124px
  .slider-2
    .slides li
      h2, p, .links
        width: 100%
        padding: 0
      h2 span
        padding: 5px 20px
        line-height: 122px
        font-size: 30px
      p
        font-size: 16px
      .contain
        min-height: 427px
    .loading
      min-height: 427px
  .slidecontrols li a
    &.carousel1-next
      position: absolute
      top: 0
      right: 0
    &.carousel1-prev
      position: absolute
      top: 0
      right: 34px
    &.carousel2-next, &.carousel3-next, &.carousel4-next
      position: absolute
      top: 0
      right: 0
    &.carousel2-prev, &.carousel3-prev, &.carousel4-prev
      position: absolute
      top: 0
      right: 34px
  .one-page
    h1.title
      font-size: 36px
    &.section
      h2
        margin-top: 20px
        text-align: center
      p
        text-align: center
  .download-now h2
    font-size: 29px
  .welcome-text
    font-size: 28px

@media only screen and (max-width: 479px)
  #home_content_wrapper, #home_bottom_wrapper
    padding: 0 6px
  .logo img
    display: block
    margin: 0 auto
  #menu > a
    margin: 0 auto
    margin-top: 15px
    margin-bottom: 35px
    float: none
    text-align: center
  header.style-3 #menu > a
    margin: 10px auto
    float: none
  #menu > ul
    width: 100%
    right: 0
    top: 50px
  header.style-3 #menu > ul
    top: 51px
    right: 0
  .phone-mail
    text-align: center
    margin-bottom: 0
    margin-top: 5px
    a
      margin: 0
      display: block
      margin-bottom: 10px
  header .social
    float: none
    text-align: center
    margin-bottom: 14px
  .top-bar
    padding: 3px 0
    min-height: 0
    .slidedown
      display: none
  .down-button
    display: block
    width: 30px
    margin: 0 auto
    height: 22px
    opacity: .6
    filter: alpha(opacity = 60)
    &:hover
      opacity: 1
      filter: alpha(opacity = 100)
  span
    &.copyright, &.reg_char_footer
      text-align: center
      margin-bottom: 11px
      line-height: 24px
  footer .social
    text-align: center
    float: none
    a
      margin: 0 0 0 10px
  .subscribe input
    &.mail
      width: 89%
      margin-right: 0
      margin-bottom: 10px
    &.submit
      width: 99%
  #footer.thumbs li, #sidebar.thumbs li
    width: 31%
    margin: 3px 6px 0 0
  footer
    .footer-top .widget
      margin-bottom: 25px
    h3.title
      margin-bottom: 10px
  .featured-clients img
    display: block
    margin: 0 auto
  h3.title, .latest-blog .item h3
    font-size: 23px
  .services.style-1 .item
    margin-bottom: 35px
    .circle
      margin-bottom: 17px
    h3
      margin-bottom: 3px
  .button
    &.small
      padding: 8px 13px
    padding: 10px 18px
    &.medium
      padding: 10px 18px
    &.large
      padding: 13px 19px
  #vertical-tabs ul.tabs, #horizontal-tabs ul.tabs
    width: 100%
  #vertical-tabs ul.tabs li, #horizontal-tabs ul.tabs li
    float: left
    width: 82%
    text-align: center
  #vertical-tabs
    &.style2 ul.tabs li
      margin-right: 3px
    .contents
      margin-left: 0
      width: 100%
    &.style2
      .contents
        margin-left: 0
        width: 100%
      ul.tabs li.current
        border: none !important
    ul.tabs
      border-top: none !important
  .welcome
    font-size: 23px
    padding: 30px 5%
    text-align: left
  .form-elements span
    width: 100%
    margin: 10px 0
  .qoute h4
    font-size: 19px
  .page-title h1
    font-size: 33px
    float: none
    text-align: center
  .testimonials-arrow
    margin-left: 15px
  .testimonial-item .author
    margin-left: 57px
  .team .item
    min-height: 391px
  .services
    &.style-2, &.style-3
      text-align: center
    &.style-2 .circle, &.style-3 .circle
      float: none
      margin: 0 auto
      margin-bottom: 15px
    &.style-2 .data, &.style-3 .data
      float: none
      width: 100%
  .page-404
    .oops
      font-size: 90px
      margin-bottom: 30px
    .text
      margin-bottom: 15px
      font-size: 20px
      line-height: 41px
    padding: 40px 0 120px
  .portfolio .item.element-3 .img-caption .desc, .recent-work .item .img-caption .desc, .gallery .item.element-3 .img-caption .desc
    padding: 5%
  .portfolio .item.element-3 .img-caption .desc h3, .recent-work .item .img-caption .desc h3, .gallery .item.element-3 .img-caption .desc h3
    font-size: 20px
    margin-bottom: 0
  .portfolio .item.element-3 .img-caption .desc p, .recent-work .item .img-caption .desc p, .gallery .item.element-3 .img-caption .desc p
    font-size: 13px
  .portfolio .item.element-3 .img-caption .desc span, .recent-work .item .img-caption .desc span, .gallery .item.element-3 .img-caption .desc span
    margin-top: 3%
  .portfolio-control
    float: none
    margin-right: auto
    margin-left: auto
    width: 147px
    margin-top: 15px
  .flex-direction-nav li a
    top: 37%
    padding: 0 5px
  .sidebar .widget .text-search, header .widget .text-search
    width: 80%
  .widget .followers li
    margin: 10px 30px
  .about-author
    .avatar
      float: none
      text-align: center
    .content .data
      margin-left: 0
      margin-top: 12px
      h5
        text-align: center
  .related-posts .item
    width: 100%
    margin-right: 0
    img
      width: 100%
      height: 165px
  .comments .comment-box
    .avatar
      float: none
      text-align: center
    .comment
      margin-left: 0
      margin-top: 15px
      h5, .date-replay
        text-align: center
    .children
      margin-left: 20px
  .form-box
    input.text, textarea
      width: 91%
    width: 100%
    margin: 0 0 10px
  .comment-form input.button
    width: 99%
    padding: 11px 0
  body.under-construction .content
    h2.title
      font-size: 27px
    p.text
      font-size: 18px
    height: 488px
    padding: 75px 0
    .block
      width: 115px
      height: 65px
      padding: 25px 0
      margin: 0 5px
      margin-bottom: 20px
    input
      &.subscribe-text
        width: 87%
        margin-left: 0
        margin-right: 0
        margin-bottom: 15px
      &.subscribe-button
        width: 98%
        margin-bottom: 35px
  .slider-1
    .slides li
      .item
        max-width: 45%
      .contain
        min-height: 135px
    .loading
      min-height: 135px
    .slides li
      h2, p, .links
        max-width: 140px
        min-width: 140px
      h2
        font-size: 15px
        line-height: 20px
      p, .links
        display: none
  header .search form
    margin: 0 0 30px
  .slider-1 .slides li .item .video-wrap
    min-width: 115px
    min-height: 95px
  .slider-2
    .slides li
      h2, p, .links
        width: 100%
        padding: 0
      h2
        margin-bottom: 76px
        span
          padding: 5px
          line-height: 45px
          font-size: 18px
      p
        font-size: 14px
      .contain
        min-height: 357px
    .loading
      min-height: 357px
  .slidecontrols li a
    &.carousel1-next
      position: absolute
      top: 0
      right: 0
    &.carousel1-prev
      position: absolute
      top: 0
      right: 34px
    &.carousel2-next, &.carousel3-next, &.carousel4-next
      position: absolute
      top: 0
      right: 0
    &.carousel2-prev, &.carousel3-prev, &.carousel4-prev
      position: absolute
      top: 0
      right: 34px
  .one-page
    h1.title
      font-size: 29px
    &.section
      h2
        margin-top: 20px
        text-align: center
      p
        text-align: center
  .download-now h2
    font-size: 29px
  .welcome-text
    font-size: 20px
  .one-page .testimonial-item .author
    margin-bottom: 50px

#content
  width: 100%
  max-width: 90vw
  margin: 50px auto 0 !important

small.block
  color: #666
  text-align: center
  display: block
  margin: 20px auto

a.block
  display: block !important
  margin: 20px auto
  width: 200px