
.navbar-header,
.navbar-nav>li 
  float: left !important
.navbar-nav
  vertical-align: top
.jumbotron 
  &.small
    h1
      font-size: 43px
  .h1, h1
    text-align: left
ol.breadcrumb
  &.clear
    background-color: transparent
    padding: 0
    margin-top: -20px

  &>  li
    &>a
      display: inline-block
.thumbnail
  .group
    padding: 0 
.tooltip
  margin-left: 0px
.list-group-item
  z-index: 0 !important
.txt-center
  text-align: center
.alert.reg
  visibility: hidden
  opacity: 0
  display: none
  transition: opacity 200ms ease-in
  
  &.block
    display: block !important
  &.visible
    visibility: visible !important
    opacity: 1  !important
.form-control-feedback.reg
  visibility: hidden
  opacity: 0
  display: none
  transition: opacity 200ms ease-in
  right: 15px
  top: 0px
  &.find-member
    right: 145px
  &.block
    display: block !important

  &.visible
    visibility: visible !important
    opacity: 1  !important
.form-group
  margin-top: 20px
.btn
  &:not(:first-child)
    margin-left: 10px
.padding-0
  padding: 0 !important
.padding-5
  padding: 0 5px !important
.modal 
  text-align: center
  padding: 0!important

.modal:before 
  content: ''
  display: inline-block
  height: 100%
  vertical-align: middle
  margin-right: -4px


.modal-dialog 
  display: inline-block
  text-align: left
  vertical-align: middle

@media (max-width:  480px)
  .btn-ms-block
    display: block
    width: 100%
    margin: 10px 0 0 0 !important
  .pull-right-ms
    float: right !important
  .pull-left-ms
    float: left !important	
@media (min-width:  480px) and (max-width:  768px)
  .btn-xs-block
    display: block
    width: 100%
    margin: 10px 0 0 0 !important
  .pull-right-xs
    float: right !important
  .pull-left-xs
    float: left !important	
@media (min-width:  768px) and (max-width:  992px)
  .btn-sm-block
    display: block
    width: 100%
    margin: 10px  0 0 0 !important
  .pull-right-sm
    float: right !important
  .pull-left-sm
    float: left !important	
@media (min-width:  992px) and (max-width:  1200px)
  .btn-md-block
    display: block
    width: 100%
    margin: 10px 0 0 0 !important
  .pull-right-md
    float: right !important
  .pull-left-md
    float: left !important	
@media (min-width:  1200px)
  .btn-lg-block
    display: block
    width: 100%
    margin: 10px 0 0 0 !important
  .pull-right-lg
    float: right !important
  .pull-left-lg
    float: left !important	


