body
  color: #666
  position: relative
.overlay
  background-color: #000
  -ms-filter: alpha(opacity = 40)
  background-color: rgba(0, 0, 0, 0.4)
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  display: block
  z-index: 10000
  -webkit-animation: fadein .5s
  -moz-animation: fadein .5s
  -ms-animation: fadein .5s
  -o-animation: fadein .5s
  animation: fadein 0.5s

noscript .container
  background-color: #fff
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  width: 500px
  max-width: calc(100% - 34px)
  height: 440px
  padding: 17px
  border-radius: 5px
  text-align: center
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  margin: auto
  overflow: hidden
  display: block
  z-index: 99999
  -webkit-animation: fadein .75s
  -moz-animation: fadein .75s
  -ms-animation: fadein .75s
  -o-animation: fadein .75s
  animation: fadein 0.75s
  .error
    width: 80px
    height: 80px
    border-radius: 50%
    border: 4px solid #f27474
    margin: 20px auto
    box-sizing: content-box
    position: relative
    -webkit-animation: fadein 1s
    -moz-animation: fadein 1s
    -ms-animation: fadein 1s
    -o-animation: fadein 1s
    animation: fadein 1s
    .l
      position: absolute
      height: 5px
      width: 47px
      background-color: #f27474
      display: block
      top: 37px
      border-radius: 2px
    .la
      left: 17px
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
    .ra
      left: 16px
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)
  .body
    margin: 40px auto
    p
      text-align: center !important
.page-title
  width: 100vw
  height: auto
  max-height: 65px
  padding: 10px
  background-color: #21a1e1 !important
  text-align: center
  p
    font-size: 4vmin
    color: #fff
    margin: 0
    line-height: 4vmin
    word-wrap: break-word
.float-right, .top-bar .social-icons, #nav, .more, footer .social, header .social
  float: right

.accordion
  .icon-plus, .icon-minus
    float: right

.portfolio-control
  float: right
  a
    float: right

a.next-post
  float: right

.float-left, .tweet_list li i.icon-twitter, .navigation ul li, .page-title h1
  float: left

.accordion.style2
  .icon-plus, .icon-minus
    float: left

#horizontal-tabs ul.tabs li
  float: left

#vertical-tabs
  .contents, ul.tabs
    float: left

.pagination a, .team .item h4, .member-social a, #options li, .share-social a, .post-meta .meta, img.pic-2, .post.style-2 .image-post, a.prev-post, .about-author .avatar, .related-posts .item, .comments .comment-box .avatar, .form-box, .the-icons, header.style-3 #nav
  float: left
