
header
	height: 120px
	padding: 20px 0
	background-color: $blue
	width: 100%
	max-width: $max-width
	background-color: $header-bg
	margin: 0 auto

	.account
		position: absolute
		top: 0
		right: 0
	.container-fluid
		height: 100%
		.nav-menu
			margin-top: 40px
			width: calc(100% - 195px)
			float: left
			margin-left: 20px
			.header-navigation

				vertical-align: bottom
				#nav
					text-align: center
					display: inline-block
					
					& >li.menu-item
						margin-left: 0!important
						font-size: 16px !important
						& > a
							display: block
							padding: 15px 6px 
							font-size: .79em
							transition: color 150ms ease-in-out
							color: white
							&:hover,
							&:active,
							&:focus
								text-decoration: none
								color: #21a1e1
								background: none
		.headerlogo 
			display: inline-block
			float: left
			width: 175px
			svg
				width: 175px
				height: auto

	&::before,
	&::after
		background: $header-bg
		height: 120px
		position: absolute
		content: " "
		width: calc((100% - #{$max-width}) / 2)
		top: 0
	&::before
		left: 0
	&::after
		right: 0
ul.burger
	position: absolute
	float: left
	padding: 10px
	top: 25px
	left: 10px
	display: none
	visibility: hidden
	cursor: pointer
	transition: background-color 300ms ease-in-out
	li
		width: 50px
		height: 10px
		background-color: #fff
		margin: 5px 0
		border-radius: 4px
		list-style: none
		transition: background-color 250ms ease-in-out
	&:hover li
		background-color: #21a1e1
		&:nth-child(1), &:nth-child(3)
			transition-delay: 0.05s

.header-navigation #nav
	text-align: center
	display: inline-block
.mobile-logo
	width: 100%
	max-width: 205px

@media all and (max-width: 960px)

	.headerlogo
		margin-left: 70px
		width: calc(100% - 70px) !important
		padding-right: 70px
	
		svg
			display: block
			margin: 0px auto

	.header-navigation,
	.nav-menu
		display: none
		visibility: hidden
	ul.burger, .wpmm-menu
		display: block
		visibility: visible

@media all and (max-width: 460px)
	.headerlogo
		padding-right: 0px
		svg
			width: 100%

	ul.burger li
		width: 40px
		height: 7px
