.navbar-account
	color: #333
	background-color: white
	border-top-left-radius: 0
	border-bottom-left-radius: 10px
	li
	
		a
			color:  #666 !important
			transition: all 200ms ease-in-out
			
			&:hover
				
				color: #21a1e1 !important
				background-color: white
.navbar-header
	.navbar-brand
		padding-left: 20px

@media screen and(max-width: 750px)
	.account  .navbar-nav > li>a
		padding: 10px 10px
	.account-item-text
		@include hidden()
	.account-item-icon
		font-size: 18px
@media screen and(max-width: 575px)
	.account-item-icon
		font-size: 15px
.navbar-collapse.collapse
	display: block!important


.navbar-nav>li,
.navbar-nav 
	float: left !important


.navbar-nav.navbar-right:last-child
	margin-right: -15px !important


.navbar-right 
	float: right!important
