#double-label-slider
  height: 6px
  background: #dddddd
  border: none
  border-radius: 0
  position: relative
  margin: 0 auto 50px auto
  max-width: 550px
  &.ui-slider
    .ui-slider-handle
      background: #21a1e1 !important
      border: none
      width: 18px
      height: 18px
      margin-left: -9px
      border-radius: 100%
      transition: box-shadow 0.2s ease
      position: absolute
      top: -6px
      z-index: 8
      outline: none
      &.ui-state-hover, &.ui-state-focus, &.ui-state-active
    .ui-slider-pip
      top: -3px
      .ui-slider-line
        background: white
        width: 12px
        height: 12px
        margin-left: -6px
        box-shadow: 0 0 0 2px #21a1e1
        border-radius: 100%
        transition: all 0.4s ease
      .ui-slider-label
        width: 100px
        margin-left: -50px
        text-align: center
        i, span
          width: 100px
          margin-left: -50px
          text-align: center
        color: #888888
        i
          font-style: normal
          font-size: 1.8em
          position: absolute
          top: -36px
        span
          opacity: 1
          font-size: 14px
          line-height: 14px
          position: absolute
          top: 18px
          transition: opacity 0.3s ease
      &:hover .ui-slider-label span, &:focus .ui-slider-label span
        opacity: 1
      &.ui-slider-pip-selected .ui-slider-label
        span
          opacity: 1
        color: black

@media screen and (max-width: 500px)
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i
    font-size: 1.4em

@media screen and (max-width: 980px)
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span
    font-size: 9px
@media screen and (max-width: 768px)
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span
    font-size: 14px
@media screen and (max-width: 500px)
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span
    font-size: 9px

.ui-slider-horizontal.ui-slider-pips
  margin-bottom: 1.4em

.ui-slider-pips
  .ui-slider-label, .ui-slider-pip-hide
    display: none
  .ui-slider-pip-label .ui-slider-label
    display: block
  .ui-slider-pip
    width: 2em
    height: 1em
    line-height: 1em
    position: absolute
    font-size: 0.8em
    color: #999
    overflow: visible
    text-align: center
    top: 20px
    left: 20px
    margin-left: -1em
    cursor: pointer
    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.ui-state-disabled.ui-slider-pips .ui-slider-pip
  cursor: default


.ui-slider-pips
  .ui-slider-line
    background: #999
    width: 1px
    height: 3px
    position: absolute
    left: 50%
  .ui-slider-label
    position: absolute
    top: 5px
    left: 50%
    margin-left: -1em
    width: 2em
  &:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label
    color: black
    font-weight: bold



.ui-slider-vertical.ui-slider-pips
  margin-bottom: 1em
  margin-right: 2em
  .ui-slider-pip
    text-align: left
    top: auto
    left: 20px
    margin-left: 0
    margin-bottom: -0.5em
  .ui-slider-line
    width: 3px
    height: 1px
    position: absolute
    top: 50%
    left: 0
  .ui-slider-label
    top: 50%
    left: 0.5em
    margin-left: 0
    margin-top: -0.5em
    width: 2em

.ui-slider-float
  .ui-slider-handle
    &:focus, &.ui-state-focus .ui-slider-tip-label, &:focus .ui-slider-tip, &.ui-state-focus .ui-slider-tip-label, &:focus .ui-slider-tip-label .ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label
      outline: none
  .ui-slider-tip, .ui-slider-tip-label
    position: absolute
    visibility: hidden
    top: -40px
    display: block
    width: 34px
    margin-left: -18px
    left: 50%
    height: 20px
    line-height: 20px
    background: white
    border-radius: 3px
    border: 1px solid #888
    text-align: center
    font-size: 12px
    opacity: 0
    color: #333
    -webkit-transition-property: opacity, top, visibility
    transition-property: opacity, top, visibility
    -webkit-transition-timing-function: ease-in
    transition-timing-function: ease-in
    -webkit-transition-duration: 200ms, 200ms, 0ms
    transition-duration: 200ms, 200ms, 0ms
    -webkit-transition-delay: 0ms, 0ms, 200ms
    transition-delay: 0ms, 0ms, 200ms
  .ui-slider-handle
    &:hover .ui-slider-tip, &.ui-state-hover .ui-slider-tip, &:focus .ui-slider-tip, &.ui-state-focus .ui-slider-tip, &.ui-state-active .ui-slider-tip
      opacity: 1
      top: -30px
      visibility: visible
      -webkit-transition-timing-function: ease-out
      transition-timing-function: ease-out
      -webkit-transition-delay: 200ms, 200ms, 0ms
      transition-delay: 200ms, 200ms, 0ms
  .ui-slider-pip
    &:hover .ui-slider-tip-label
      opacity: 1
      top: -30px
      visibility: visible
      -webkit-transition-timing-function: ease-out
      transition-timing-function: ease-out
      -webkit-transition-delay: 200ms, 200ms, 0ms
      transition-delay: 200ms, 200ms, 0ms
    .ui-slider-tip-label
      top: 42px
    &:hover .ui-slider-tip-label
      top: 32px
      font-weight: normal
  .ui-slider-tip:after, .ui-slider-pip .ui-slider-tip-label:after
    content: " "
    width: 0
    height: 0
    border: 5px solid rgba(255, 255, 255, 0)
    border-top-color: white
    position: absolute
    bottom: -10px
    left: 50%
    margin-left: -5px
  .ui-slider-tip:before
    content: " "
    width: 0
    height: 0
    border: 5px solid rgba(255, 255, 255, 0)
    border-top-color: #888
    position: absolute
    bottom: -11px
    left: 50%
    margin-left: -5px
  .ui-slider-pip .ui-slider-tip-label
    &:before
      content: " "
      width: 0
      height: 0
      border: 5px solid rgba(255, 255, 255, 0)
      border-top-color: #888
      position: absolute
      bottom: -11px
      left: 50%
      margin-left: -5px
    &:after
      border: 5px solid rgba(255, 255, 255, 0)
      border-bottom-color: white
      top: -10px
    &:before
      border: 5px solid rgba(255, 255, 255, 0)
      border-bottom-color: #888
      top: -11px


.ui-slider-vertical.ui-slider-float
  .ui-slider-tip, .ui-slider-tip-label
    top: 50%
    margin-top: -11px
    width: 34px
    margin-left: 0px
    left: -60px
    color: #333
    -webkit-transition-duration: 200ms, 200ms, 0
    transition-duration: 200ms, 200ms, 0
    -webkit-transition-property: opacity, left, visibility
    transition-property: opacity, left, visibility
    -webkit-transition-delay: 0, 0, 200ms
    transition-delay: 0, 0, 200ms
  .ui-slider-handle
    &:hover .ui-slider-tip, &.ui-state-hover .ui-slider-tip, &:focus .ui-slider-tip, &.ui-state-focus .ui-slider-tip, &.ui-state-active .ui-slider-tip
      top: 50%
      margin-top: -11px
      left: -50px
  .ui-slider-pip
    &:hover .ui-slider-tip-label
      top: 50%
      margin-top: -11px
      left: -50px
    .ui-slider-tip-label
      left: 47px
    &:hover .ui-slider-tip-label
      left: 37px
  .ui-slider-tip:after, .ui-slider-pip .ui-slider-tip-label:after
    border: 5px solid rgba(255, 255, 255, 0)
    border-left-color: white
    border-top-color: transparent
    position: absolute
    bottom: 50%
    margin-bottom: -5px
    right: -10px
    margin-left: 0
    top: auto
    left: auto
  .ui-slider-tip:before
    border: 5px solid rgba(255, 255, 255, 0)
    border-left-color: #888
    border-top-color: transparent
    position: absolute
    bottom: 50%
    margin-bottom: -5px
    right: -11px
    margin-left: 0
    top: auto
    left: auto
  .ui-slider-pip .ui-slider-tip-label
    &:before
      border: 5px solid rgba(255, 255, 255, 0)
      border-left-color: #888
      border-top-color: transparent
      position: absolute
      bottom: 50%
      margin-bottom: -5px
      right: -11px
      margin-left: 0
      top: auto
      left: auto
    &:after
      border: 5px solid rgba(255, 255, 255, 0)
      border-right-color: white
      right: auto
      left: -10px
    &:before
      border: 5px solid rgba(255, 255, 255, 0)
      border-right-color: #888
      right: auto
      left: -11px

/* put label tooltips to right of slider

/* give the tooltip a css triangle arrow

/* SELECTED STATES
/* Comment out this chuck of code if you don't want to have
 *      the new label colours shown

.ui-slider-pips
  [class*=ui-slider-pip-initial]
    font-weight: bold
    color: #14CA82
  .ui-slider-pip-initial-2
    color: #1897C9
  [class*=ui-slider-pip-selected]
    font-weight: bold
    color: #FF7A00
  .ui-slider-pip-inrange
    color: black
  .ui-slider-pip-selected-2
    color: #E70081
  [class*=ui-slider-pip-selected] .ui-slider-line, .ui-slider-pip-inrange .ui-slider-line
    background: black