table.table-small,
table.clean
  margin: 0 auto !important
  color: #666
  border: 1px solid #ccc
  width: 100%
  margin: 20px auto !important
  padding: 0 20px
  border-collapse: collapse
  border-spacing: 0
  tr
    border: 1px solid #ddd
    padding: 5px
    &.error
      border: 1px solid #FF4136
      border-left: 20px solid #FF4136
    &.warning
      border: 1px solid #FF851B
      border-left: 20px solid #FF851B
    &.pass
      border: 1px solid #77AD78
      border-left: 20px solid #77AD78
  th, &:not(.session_times) td
    padding: 10px
    text-align: center
    font-size: 13px
  th
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 1px
    font-weight: 700
  &.whiteCore
    background-color: #fff
    margin-bottom: 10px !important
    box-shadow: 0 0 2px 0 #ccc
    tr
      border: 0 solid #ccc
    thead tr
      border: 1px solid #ccc
  &.minimised
    border: 0 !important
    width: 100% !important
    thead
      display: none !important
    tr
      margin-bottom: 10px !important
      display: block !important
      border-bottom: 2px solid #ddd !important
      td:not(.noRender):last-child
        border-bottom: 0 !important
    &.whiteCore
      td:last-child
        border-bottom: 1px dotted #ccc !important
      tr:last-child td:last-child
        border-bottom: none !important
    td
      display: block !important
      text-align: right !important
      font-size: 13px !important
      border-top: 1px dotted #ccc !important
      min-height: 35px !important
  &.session_times
    td
      padding: 5px
      text-align: center
    border: 2px dashed #ccc !important
    tr.lastrecord
      border-bottom: 2px dashed #ccc
      &:last-child
        border-bottom: 1px solid #ccc
    p
      margin: 0 !important
      font-size: 14px !important
  &.minimised
    &.whiteCore td
      border-top: none !important
    td
      &:first-child
        border-top: none !important
      &.noRender
        display: none !important
        border: none !important
      &:before
        content: attr(data-label) !important
        float: left !important
        text-transform: uppercase !important
        font-weight: boldv !important

@media screen and (max-width: 920px)
  table.clean:not(#pricing)
    border: 0 !important
    width: 100% !important
    thead
      display: none !important
    tr
      margin-bottom: 10px !important
      display: block !important
      border-bottom: 2px solid #ddd !important
      td:not(.noRender):last-child
        border-bottom: 0 !important
    &.whiteCore
      td:last-child
        border-bottom: 1px dotted #ccc !important
      tr:last-child td:last-child
        border-bottom: none !important
    td
      display: block !important
      text-align: right !important
      font-size: 13px !important
      border-top: 1px dotted #ccc !important
      min-height: 35px !important
    &.whiteCore td
      border-top: none !important
    td
      &:first-child
        border-top: none !important
      &.noRender
        display: none !important
        border: none !important
      &:before
        content: attr(data-label) !important
        float: left !important
        text-transform: uppercase !important
        font-weight: boldv !important
@media all and (max-width: 550px)
  table.clean
    &.large
      border: 0
      width: 100%
      thead
        display: none
      tr
        margin-bottom: 10px
        display: block
        border-bottom: 2px solid #ddd
        td:not(.noRender):last-child
          border-bottom: 0
      td
        display: block
        text-align: right
        font-size: 13px
        border-top: 1px dotted #ccc
        min-height: 21px
        &:first-child
          border-top: none
        &.noRender
          display: none
          border: none
        &:before
          content: attr(data-label)
          float: left
          text-transform: uppercase
          font-weight: 700
    &.xllarge
      width: calc(100% - 60px)
      th
        font-size: 10px
        padding: 0 3px
      td
        font-size: 10px
        padding: 0 3px
        input[type="radio"]
          width: 15px
          height: 15px
table.table-noborder>thead>tr>th,
table.table-noborder>thead>tr>td,
table.table-noborder>tbody>tr>th,
table.table-noborder>tbody>tr>td,
table.table-noborder>tfoot>tr>th,
table.table-noborder>tfoot>tr>td
  border: none
