#product-gallery
  position: relative
  &-thumbnails
    vertical-align: top
    padding: 5px
    img
      display: inline-block
      width: calc(33% - 6px)
      margin: 3px
      position: relative
    .active
      border: 2px solid $blue

  #primary
    width: 100%
  svg
    display: 

#product-preview
  color: red
  img
    width: 100%
