.g
    &-sale-products,
    &-recent-products,
    &-featured-products
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: 15px
    &-item
        &-product
            grid-template-areas: 'product-image product-image' 'product-name product-name' 'product-price product-view';
            display: grid
    &-element
        &-product-image
            grid-area: product-image
            position: relative
        &-product-name
            grid-area: product-name
        &-product-price
            grid-area: product-price
        &-product-view
            grid-area: product-view
            text-align: right
        

@media all and (max-width: 960px)   
    .g
        &-sale-products,
        &-recent-products,
        &-featured-products
            display: grid
            grid-template-columns: 1fr 1fr 1fr
@media all and (max-width: 768px)
    .g
        &-sale-products,
        &-recent-products,
        &-featured-products
            display: grid
            grid-template-columns: 1fr 1fr 1fr
@media all and (max-width: 460px)
    .g
        &-sale-products,
        &-recent-products,
        &-featured-products
            display: grid
            grid-template-columns: 1fr 1fr