.star-rating
  margin: .5em 4px 0 0
  float: left
  overflow: hidden
  position: relative
  height: 1em
  line-height: 1
  font-size: 1em
  width: 65px
  font-family: 'Font Awesome 5 Free'
  font-weight: 400

  span
    overflow: hidden
    float: left
    top: 0
    left: 0
    position: absolute
    padding-top: 1.5em
    &::before
      content: '\f005\f005\f005\f005\f005'
      top: 0
      position: absolute
      left: 0

  &::before
    content: '\f005\f005\f005\f005\f005'
    color: #d3ced2
    float: left
    top: 0
    left: 0
    position: absolute
