.reviews
  margin: 0
  width: 100%
  background: 0 0
  list-style: none

  .review
    padding: 0
    margin: 0 0 20px
    border: 0
    position: relative
    background: 0
    border: 0
    .review-container
      .review-text
        margin: 0 0 0 50px
        border: 1px solid $light-grey
        border-radius: 4px
        padding: 1em 1em 0

        .meta
          text-align: left
          
          