.onsale  
  min-height: 3.236em
  min-width: 3.236em
  padding: .202em
  font-size: 1em
  font-weight: 700
  position: absolute
  text-align: center
  line-height: 3.236
  top: -.5em
  left: -.5em
  margin: 0
  border-radius: 100%
  background-color: $brand-success
  color: #fff
  font-size: .857em
  -webkit-font-smoothing: antialiased
  z-index: 9
.product-name
  position: relative

  .onsale-indicator
    position: absolute
    top: -35px
    right: 0
    border-radius: 3px
    background-color: $brand-success
    padding: 8px
    color: white