<template>

    <div id="contact-form">
      <button id="contactus" class="btn btn-primary" v-bind:class="{clicked: contact}" @click="openContactForm()" v-if="!states.contact">Contact us</button>
    </div>

</template>

<script>
  export default {
    data: function() {
      return{
        contact: false,
        states:{
          one: false,
          two: false
        }
      }
    },
      mounted() {
          console.log('Component mounted.')
      },
      methods:{
        openContactForm: function() {
          this.contact = true;
          
        }
      }
  }
</script>
<style>
#contactus {
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

}
#contactus.clicked {
  animation: fadewidth 2s linear;
}
.container-leave-active {
  animation: fadewidth .5s reverse;
}


@keyframes fadewidth {
  10% {
    color: #21a1e1;
    bottom: 0;
    top:0;
  }
  25% {
    width: 400px;
  }
  100% {
    height: 800px;
    background-color: white;

  }

}
</style>
