<template>
  <transition>
    <div id="contact-form">
      <button id="contactus" @click="openContactForm()">Contact us</button>
    </div>
  </transition>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        modules:{
          openContactForm: function() {
            console.log(this.value)
          }
        }
    }
</script>
<style>
#contactus {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  background-color:#21a1e1;
  color: white;
}
</style>
